// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

.signup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: none;

  &__info {
    position: absolute;
    top: 20%;
    left: 34%;
    background-color: #e6ecf0;
    padding: 20px 0 40px;
    border-radius: 10px;
    width: 450px;
    height: auto;
    text-align: center;

    .fa-times {
      position: absolute;
      top: 12px;
      right: 12px;
      color: rgba(128, 128, 128, 0.46);
      cursor: pointer;
    }

    #signup-form {
      width: 100%;

      h2 {
        color: #5f5d60;
        letter-spacing: 1px;
        margin-bottom: 40px;
      }
      input {
        width: 320px;
        margin-bottom: 20px;
        font-size: 12px;
        padding: 12px 12px;
        border: 1px solid #d0d5d8;
        border-radius: 5px;
      }
      #submit-btn {
        display: inline-block;
        padding: 14px 140px;
        background-color: #5dca88;
        border: none;
        border-radius: 3px;
        color: white;
        margin: 10px auto;
        cursor: pointer;
      }
    }
  }
}



.shops__info { 
  text-align: center;
  padding: 100px 350px;
  background-color: azure;
  &__content {
    background-color: white;
    padding-top: 20px;
    &__name {
      letter-spacing: 5px;
      font-size: 40px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 20px;
    }
    h2 {
      width: 300px;
      margin: 0 auto;
    }
  
    .change-btn-wrapper {
      display: flex;
      // justify-content: space-between;
      cursor: pointer;
      margin-top: 20px;
      padding: 0 150px;
      position: relative;
      .prev-btn {
        position: absolute;
        left: 150px;
      }
      .next-btn {
        position: absolute;
        right: 150px;
      }
      .change-btn:hover {
        opacity: 0.4;
      }
    }
  
    .slide {
      text-align: center;
      display: none;
    }
    .active {
      display: block;
    }
  
    .index-btn-wrapper {
      display: flex;
      justify-content: center;
      letter-spacing: 30px;
      cursor: pointer;
      margin-top: 15px;
      .index-btn:hover {
        opacity: 0.4;
      }
    }
  
    .infomation {
      font-size: 20px;
      margin-top: 20px;
  
      .reservation {
        display: inline-block;
        border: 1px solid black;
        padding: 5px 100px;
        text-decoration: none;
        color: white;
        margin: 20px 0;
        background-color: #5dca88;
      }
    }
  }
}