// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

.shops-header {
  height: 80px;
  width: 100%;
  background-color: yellowgreen;
  display: flex;
  justify-content: space-between;

  &__name {
    font-size: 25px;
    line-height: 80px;
    margin-left: 100px;
    text-decoration: none;
    color: black;
  }

  &__btn {
    width: 50%;
    margin-right: 100px;

    &__ul {
      line-height: 80px;
      margin-right: 100px;
      display: flex;
      list-style: none;
      justify-content: space-between;

      &__li {
        text-decoration: none;
        color: black;
        font-size: 25px;
      }
      
    }
  }
}

.shops_info {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  z-index: 10;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  
}
.shops_info__btn__a {
  text-decoration: none;
  margin: 25px 0;
  display: inline-block;
}

  

.delete {
  display: none;
}



.shops-main {
  padding-top: 50px;
  text-align: center;
  z-index: 1;

  &__box {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
  }

  .shops-main__box__info {
    width: 300px;

  }

}