// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.resistrations {
  text-align: center;
  .resistrations__logo {
    text-align: center;
    margin: 0 auto;
  }
  .resistration {
    width: 500px;
    margin: 0 auto;
    padding: 50px 100px;
    background-color: azure;
    text-align: center;
    h2 {
      font-size: 25px;
      font-weight: 600;
    }
    .field {
      .label {
        display: block;
        text-align: left;
      }
      .input__resistration {
        width: 100%;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 15px;
      }
    }
    
    
  }
}
